body {
  background-color: $darkBlue;
  // background-color: gray;
}

.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  @media (max-width:$mobileSmall){
     flex-direction: column; 
  }
  // .hero__bg
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    
    &.hover {
      img, video {
        opacity: 0.47;
      }
    }
    
    @media (max-width:$mobileSmall){
      position: relative; 
      flex: 1;
      min-height: toRem(230);
    }
    img, video {
        transition: opacity .45s;
        aspect-ratio: 1366 / 766;
        @media (max-width:$tablet){
          opacity: .47;
        }
      @media (max-width:$mobileSmall){
         position: absolute;
         top: 0;
         left: 0; 
      }
    }
  }
  // .hero__container
  &__container {
    width: 100%;
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding-bottom", 80, 50,0,1920,1366.98);
    @media (min-width:$mobileSmall){
      padding-top: toRem(100);
       row-gap: toRem(40); 
    }
    @media (max-width:$mobileSmall){
      padding-top: toRem(32);
    }
  }
  // .hero__body
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include adaptiveValue("padding-top", 130, 0,2,1920,768.98);

    @media (min-width:$mobile){
      max-width: toRem(670);
    }
    @media (max-width:$mobileSmall){
       justify-content: flex-end; 
    }
  }
  // .hero__title
  &__title {
    @include adaptiveValue("margin-bottom", 16,11,0,768,480.98);
    @media (min-width:$mobileSmall){
       line-height: 1; 
    }
    @media (max-width:$mobileSmall){
       position: absolute; 
       z-index: 3;
       bottom: 0;
       left: 0;
        padding: 0 toRem(24);
    }
  }
  // .hero__btm
  &__btm {
    display: flex;
    @media (min-width:$mobile){
      align-items: center;
    }
    @media (max-width:$mobile){
       flex-direction: column; 
       row-gap: toRem(34);
    }
    @media (max-width:$mobileSmall){
       padding: toRem(0) toRem(24) toRem(50); 
       margin: 0 toRem(-24) toRem(-50);
       background-color: $darkBlue;
    }
  }
  // .hero__txt
  &__txt {
  }
  // .hero__link
  &__link {
  }
  // .hero__links
  &__links {
  }
  // .hero__control
  &__control {
  }
}

.control-hero {
  @include adaptiveValue("right", 238, 182,2,1920,1200.98);
  
  @media (min-width:$tablet){
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    border: toRem(2) solid $mainWhite;
    width: toRem(96);
    height: toRem(96);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: em(1440.98)) and (min-width: $tablet){
    top:calc(50% + 50px);
  }
  @media (max-width: em(1200.98)) and (min-width: $tablet){
      right: toRem(24);
  }
  @media (max-width: $tablet){
      display: none;
  }
  // .control-hero__ic
  &__ic {
    &.ic-pause {
      .paused & {
        display: none;
      }
    }
    &.ic-play {
      display: none;
      padding-left: toRem(10);
      .paused & {
        display: block;
      }
    }
  }
}



.links-hero {
  @media (min-width:$mobileSmall){
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: toRem(31);
    row-gap: toRem(18);
    max-width: toRem(891);
  }
  @media (max-width:$mobile){
     gap: toRem(12) 
  }
  @media (max-width:$mobileSmall){
     display: none; 
  }
  // .links-hero__link
  &__link {
  }
}
