body {
  background-color: $darkBlue;
}


.first-block {
}
.second-block {
}
section {
  overflow: hidden;
}
.other {
  padding: 100px 0;
  min-height: 100vh;
  border-top: 3px solid $mainWhite;
  border-bottom: 3px solid $mainWhite;
}



.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  background-color: $darkBlue;
  @media (max-width:$mobileSmall){
     flex-direction: column; 
  }
  // .hero__bg
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    
    &.hover {
     video {
        opacity: 0.47;
      }
    }
    
    @media (max-width:$mobileSmall){
      position: relative; 
      flex: 1;
      // min-height: toRem(230);
    }
    @media (max-width:$mobileXS){
       min-height: toRem(453); 
    }
    video {
        transition: opacity .45s;
        aspect-ratio: 1366 / 766;
        @media (max-width:$tablet){
          opacity: .47;
        }
      @media (max-width:$mobileSmall){
         position: absolute;
         top: 0;
         left: 0; 
      }
    }
  }
  // .hero__container
  &__container {
    width: 100%;
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding-bottom", 80, 50,2,1920,1366.98);
    @include adaptiveValue("padding-bottom", 50,30,3,1366.98,480.98);
    @media (min-width:$mobileSmall){
      padding-top: toRem(100);
       row-gap: toRem(40); 
    }
    @media (max-width:$mobileSmall){
      padding-top: toRem(32);
    }
  }
  // .hero__body
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include adaptiveValue("padding-top", 130, 0,2,1920,768.98);

    @media (min-width:$mobile){
      max-width: toRem(670);
    }
    @media (max-width:$mobileSmall){
       justify-content: flex-end; 
    }
  }
  // .hero__title
  &__title {
    @include adaptiveValue("margin-bottom", 16,11,0,768,480.98);
    @media (min-width:$mobileSmall){
       line-height: 1; 
    }
    @media (max-width:$mobileSmall){
       position: absolute; 
       z-index: 3;
       bottom: 0;
       left: 0;
        padding: 0 toRem(24);
    }
  }
  // .hero__btm
  &__btm {
    display: flex;
    @media (min-width:$mobile){
      align-items: center;
    }
    @media (max-width:$mobile){
       flex-direction: column; 
       row-gap: toRem(34);
    }
    @media (max-width:$mobileSmall){
       padding: toRem(0) toRem(24) toRem(0); 
       margin: 0 toRem(-24) toRem(0);
       background-color: $darkBlue;
    }
  }
  // .hero__txt
  &__txt {
  }
  // .hero__link
  &__link {
  }
  // .hero__links
  &__links {
  }
  // .hero__control
  &__control {
  }
  // .hero__circle
  &__circle {
  }
}

.control-hero {
  @include adaptiveValue("right", 238, 182,2,1920,1200.98);
  
  @media (min-width:$tablet){
    position: absolute;
    top: 50%;
    transform: translate(0, -66%);
    border-radius: 50%;
    border: toRem(2) solid $mainWhite;
    width: toRem(96);
    height: toRem(96);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // @media (max-width: em(1440.98)) and (min-width: $tablet){
  //   top:calc(50% + 50px);
  // }
  @media (max-width: em(1200.98)) and (min-width: $tablet){
      right: toRem(24);
  }
  @media (max-width: $tablet){
      display: none;
  }
  // .control-hero__ic
  &__ic {
    &.ic-pause {
      .paused & {
        display: none;
      }
    }
    &.ic-play {
      display: none;
      padding-left: toRem(10);
      .paused & {
        display: block;
      }
    }
  }
}

.links-hero {
  @media (min-width:$mobileSmall){
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: toRem(31);
    row-gap: toRem(18);
    max-width: toRem(891);
  }
  @media (max-width:$mobile){
     gap: toRem(12) 
  }
  @media (max-width:$mobileSmall){
     display: none; 
  }
  // .links-hero__link
  &__link {
  }
}

.circle-hero {
  position: absolute;
  @include adaptiveValue("right", -173, -51,2,1902,1366.98);
  @include adaptiveValue("right", -51, 0,3,1366.98,1200.98);

  @media (min-width:$mobileSmall){
    transform: translate(50%, 50%);
    bottom: toRem(42);
  }
  @media (max-width:$mobileSmall){
    top: calc(50% - 15px);
    transform: translate(50%, -50%);    
    z-index: 3;
  }
  // .circle-hero__img
  &__img {
    @include adaptiveValue("width", 484,398,2,1920,1366.98);
    @include adaptiveValue("width", 398,236,3,1366.98,480.98);
    animation: circle-hero 40s linear infinite;
  }
}
@keyframes circle-hero {
  to {
    transform: rotate(360deg);
  }
}


// =================================================================
.about-main {
  color: $mainWhite;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // .about-main__container
  &__container {
    @include adaptiveValue("padding-top", 120, 40,0,1366,480.98);
    width: 100%;
    @media (min-width: em(960.98)){
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }
	// .about-main__body
	&__body {
    @include adaptiveValue("padding-bottom", 90, 40,0,1366,480.98);
    @media (min-width:$mobile){
      width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
      }
    @media (min-width:em(1100.98)){
      max-width: toRem(780); 
    }
    @media (max-width: em(1100.98)) and (min-width: $mobile) {
      max-width: toRem(700); 
    }
	}
  // .about-main__title
  &__title {
    line-height: 1.1;
    @include adaptiveValue("margin-bottom", 40, 16,0,1366,480.98);
  }
  // .about-main__heart
  &__heart {
  }
  // .about-main__sub-title
  &__sub-title {
    line-height: normal;
    @include adaptiveValue("font-size", 30, 18,0,1366,480.98);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 16,0,1366,480.98);
    }
    @media (min-width:$mobile){
       max-width: toRem(630); 
    }
    @media (min-width:$mobileSmall){
       font-weight: 700; 
    }
    @media (max-width:$mobileSmall){
        font-weight: 400;
    }
  }
  // .about-main__txt
  &__txt {
    line-height: 1.2;
    @media (min-width:$mobile){
       max-width: toRem(630); 
      }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 32,0,1366,480.98);
    }
  }
  // .about-main__link
  &__link {
    @media (min-width:$mobileSmall){
      max-width: toRem(287);
    }
  }
	// .about-main__typed-body
	&__typed-body {
    min-height: toRem(30);
    @media (max-width:$mobileSmall){
       min-height: toRem(60); 
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 92, 24,0,1366,480.98);
    }
    .typed-cursor {
    }
  }
  // .about-main__typed
  &__typed {
    font-size: toRem(22);
    font-weight: 700;
    line-height: normal;
  }
  // .about-main__bg
  &__bg {
  }
  // .about-main__bg-women
  &__bg-women {
  }
}

.heart-main {
  display: inline-flex;
  align-items: center;
  gap: toRem(8);
  padding: 0 5px 5px;
  vertical-align: middle;
  // .heart-main__ic-arr
  &__ic-arr {
    transition: all .6s ease .6s;
    opacity: 0;
    @media (max-width:$mobileSmall){
        width: toRem(18);
    }
    &.arr-left {
      transform: scaleX(-1) translateX(-120%);
      .fp-section-1 & {
          opacity: 1;
          transform: scaleX(-1) translateX(0);
      }
    }
    &.arr-right {
      transform: translateX(-120%);
      .fp-section-1 & {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  // .heart-main__ic-heart
  &__ic-heart {
    opacity: 0;
    transition: opacity .6s ease .3s;
    .fp-section-1 & {
      opacity: 1;
      animation: pulse .8s linear .3s 5 normal forwards;
      @media (any-hover: hover){
        &:hover{
          animation: pulse .8s infinite;  
        }
      }
      @media (max-width: em(1200.98)){
        animation: pulse-mob .8s linear .3s infinite;
      }
    }
    @media (max-width:$mobileSmall){
       width: toRem(30); 
    }
  }
}

@keyframes pulse {
	10% {transform: scale(1.1)}
	// 30% {transform: scale(1)}
	// 40% {transform: scale(1.1)}
}
@keyframes pulse-mob {
	10% {transform: scale(1.2)}
	// 30% {transform: scale(1)}
	// 40% {transform: scale(1.2)}
}
  
.bg-women {
  @media (min-width:em(960.98)){
    position: absolute;
    z-index: 2;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media (max-width: em(960.98)){
      display: none;
  }
  // .bg-women__container
  &__container {
    @media (min-width:em(960.98)){
      height: 100%;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
	// .bg-women__wrapper
	&__wrapper {
    @include adaptiveValue("margin-right", 62, 0,0,1920,1366);
    @media (min-width:em(960.98)){
      overflow: hidden;
    }
    @media (max-width: em(1950)) and (min-width: em(960.98)) {
      height: 72%;
    }
    @media (max-width: em(1100.98)) and (min-height: em(900.98)) {
      height: auto;
    }
  }
	// .bg-women__women
	&__women {
    @media (min-width:em(960.98)){
      height: 100%;
    }
	}
}


.bg-main {
  @media (min-width:em(960.98)){
    position: relative;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
  }
  @media (max-width: em(960.98)){
      display: none;
  }
  // .bg-main__shelf
  &__shelf {
    @include adaptiveValue("height", 740, 580,0,1920,1366);
    @media (min-width:em(1950.98)){
        width: toRem(900) !important;
    }
    @media (min-width:em(960.98)){
      position: absolute;
      top: 0;
      left: 120%;
      opacity: 0;
      z-index: 1;
      transition: left .65s ease, opacity .2s ease;
      .fp-section-1 & {
        left: 17%;
        opacity: 1;
        transition-delay: .3s;
        @media (max-width: em(1400.98)){
            left: 10%;
        }
        @media (max-width: em(1100.98)){
            left: 0;
        }
      }
    }
  }
}




